.currency-form {
    .row {
        margin-bottom : 20px
    }
    .result-block{
        border: 1px solid #c5c5c5;
        box-shadow: 3px 2px 3px 2px #c5c5c5;
        padding: 10px;
    }
}